.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #5bccf6;
}
.search-icon{
    padding-top:10px;
}

.search-container{
    flex:1;
    padding-left: 15px;
}
.logo-container{
    flex: 1;
}
.rest-container{
    flex:1;
    display: flex;
    justify-content: space-between;
}